.lineTitle {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    border-bottom: rgb(223, 223, 223) 1px solid;
    width: 950px;
    height: 25px;
}
.buttonGroup {
    border: rgb(223, 223, 223) 1px solid;
    border-radius: 7px;
    width: 950px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
}
.information {
    margin-left: 20px;
    margin-top: 20px;
    border: rgb(208, 208, 208) 1px solid;
    border-radius: 7px;
    width: 950px;
    height: 370px;
}
th {
    text-align: center;
}
.information button{
    height: 30px;
}
.nextBtn{
    width: 210px;
    margin:10px auto;
}