<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/JF220907"/>-->
<!--                <property name="username" value="JF220907"/>-->
<!--                <property name="password" value="JF220907"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--&lt;!&ndash;        <mapper class="indi.Lucius.mapper.IEmpMapper"/>&ndash;&gt;-->
<!--        <mapper resource="indi/Lucius/mapper/UserMapper.xml"/>-->
<!--    </mappers>-->
</configuration>